// $color-primary: #c69963;
// $color-primary-dark: #B28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483A;
// $color-grey-dark-2: #6D5D4B;

// $font-primary: 'Nunito', sans-serif;
// $font-display: 'Josefin Sams', sans-serif;

// grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] 1fr [full-end];

.footer {
    background-color: $color-secondary;
    grid-column: full-start /full-end;
    padding: 8rem;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        display: block;
        padding: 1.5rem;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rga(#ffffff37, .8);
        transform: translateY(-3px);
    }

}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    text-align: center;
}